---
layout: default
---

<div class="container w-full flex flex-wrap mx-auto px-2 pt-8 lg:pt-16 mt-16 pb-16 flex-auto flex-shrink-0">
  <main class="w-full p-8 mt-6 text-gray-900 leading-normal bg-white border border-gray-400 rounded">
    <img src="{{ site.logo | absolute_url }}" alt="solanum logo" class="block max-w-4xs m-auto" />
    <h1 class="text-center">{{ site.title }}</h1>

    <p class="text-center">
      Solanum is the IRCd that's being worked on by a collaboration of
      <a href="https://libera.chat">Libera Chat</a> and <a href="https://www.oftc.net">OFTC</a> staff.
    </p>

    <div class="flex flex-wrap gap-4 justify-center mt-4 rounded">
      <a href="ircs://irc.libera.chat:6697/#solanum"
        class="block text-center py-2 px-4 bg-gray-300 hover:bg-gray-200 text-gray-700 no-underline rounded">#solanum on
        Libera Chat</a>
      <a href="https://github.com/solanum-ircd/solanum"
        class="block text-center py-2 px-4 bg-gray-300 hover:bg-gray-200 text-gray-700 no-underline rounded">solanum-ircd
        on
        GitHub</a>
    </div>
  </main>

  <main class="w-full p-8 mt-6 text-gray-900 leading-normal bg-white border border-gray-400 rounded">
    <h1>News</h1>
    {% for post in site.posts limit:3 %}
    {% include post.html post=post short=true %}
    {% endfor %}
  </main>
</div>
