<footer class="bg-white border-t border-gray-400 flex-shrink-0">
  <div class="text-sm container flex flex-wrap mx-auto px-4 py-8">
    <div class="w-full lg:w-1/2">
      <a href="https://github.com/solanum-ircd"
        class="block text-gray-600 hover:text-purple-700 pb-3 lg:pb-0">Solanum-ircd on
        GitHub</a>
      <a href="ircs://chat.freenode.net:6697/#solanum"
        class="block text-gray-600 hover:text-purple-700 pb-3 lg:pb-0">#solanum on
        freenode</a>
      <a href="https://freenode.net/" target="blank" rel="noopener"
        class="block text-gray-600 hover:text-purple-700 pb-3 lg:pb-0">freenode</a>
      <a href="https://www.oftc.net/" target="blank" rel="noopener"
        class="block text-gray-600 hover:text-purple-700 pb-3 lg:pb-0">OFTC</a>
    </div>
    <div class="w-full lg:w-1/2 lg:justify-end lg:text-right">
      <a href="https://www.netlify.com" target="blank" rel="noopener"
        class="block text-gray-600 hover:text-purple-700">This site is powered by Netlify</a>
    </div>
  </div>
</footer>
