<header class="fixed w-full z-10 top-0 bg-white border-b border-gray-400">
  <div class="w-full container mx-auto flex flex-wrap items-center justify-between mt-0 py-4">
    <div class="pl-4 flex items-center">
      <img class="h-10 pr-3 fill-current" src="{{ site.logo | absolute_url }}" />
      <a class="pt-1 text-gray-900 font-display no-underline hover:no-underline text-xl" href="{{ site.url }}">
        {{ site.title }}
      </a>
    </div>

    <div class="block lg:hidden pr-4">
      <button id="nav-toggle"
        class="flex items-center px-3 py-2 border rounded text-gray-500 border-gray-600 hover:text-gray-900 hover:border-purple-500 appearance-none focus:outline-none">
        <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <title>Menu</title>
          <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
        </svg>
      </button>
    </div>

    <nav
      class="font-display w-full lg:w-auto flex-grow lg:flex lg:justify-end lg:content-center hidden pt-6 lg:pt-0 z-20"
      id="nav-content">
      {% for collection in site.collections %}
      {% if collection.label == page.collection %}
      <a class="mr-3 py-2 lg:py-0 block lg:inline-block px-4 text-gray-900 font-bold no-underline"
        href="/{{ collection.slug | default: collection.label }}">{{ collection.name }}</a>
      {% else %}
      <a class="mr-3 lg:py-0 block lg:inline-block text-gray-600 no-underline hover:text-gray-900 hover:underline py-2
        px-4" href="/{{ collection.slug | default: collection.label }}">{{ collection.name }}</a>
      {% endif %}
      {% endfor %}
    </nav>
  </div>
</header>

<script type="module">
  const menuToggle = document.getElementById('nav-toggle')
  const menuItems = document.getElementById('nav-content')

  menuToggle.addEventListener('click', event => {
    event.preventDefault()

    if (menuItems.classList.contains('hidden'))
      menuItems.classList.remove('hidden')
    else menuItems.classList.add('hidden')
  })
</script>
