<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width, initial-scale=1" name="viewport">

  <meta name="theme-color" content="#553686">
  <link rel="icon" href="{{ '/img/solanum.png' | relative_url }}" />
  {% seo %}
  {% feed_meta %}
  <link href="{{ '/css/style.css' | relative_url }}" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@700&family=Poppins&family=Ubuntu+Mono&display=swap"
    rel="stylesheet">
</head>

<body class="bg-gray-100 tracking-normal relative min-h-screen flex flex-col">
  {% include header.html %}
  {{ content }}
  <div class="flex-grow"></div>
  {% include footer.html %}
